.git
.gitignore
.gitattributes
.codeclimate.yml
.travis.yml
.taskcluster.yml
docker-compose.yml
Dockerfile
.docker
.dockerignore
**/__pycache__/
**/*.py[cod]
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.mo
*.pot
*.log
docs/_build/
target/
.env
.venv/
venv/
.idea
.ropeproject
**/.ropeproject
**/*.swp
.vscode/